In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import os

pth1 = 'C:/Users/User/Desktop/Python/Jupyter/telecomm_csi.db'
pth2 = '/datasets/telecomm_csi.db'

if os.path.exists(pth1):
    path_to_db  = pth1
elif os.path.exists(pth2):
    path_to_db  = pth2
else:
    print('Something is wrong')

In [3]:
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [4]:
query = """
SELECT  u.user_id,
        u.lt_day,
        CASE WHEN u.lt_day<366 THEN "New" ELSE "Old" END as is_new,
        u.age,
        u.gender_segment,
        u.os_name,
        u.cpe_type_name,
        l.country,
        l.city,  
        substr (ag.title, 4, 5) as age_segment,
        substr (ts.title, 4, 6) as traffic_segment,
        substr (ls.title, 4, 6) as lifetime_segment,
        u.nps_score,
        CASE WHEN u.nps_score BETWEEN 0 AND 6 THEN "detractors" 
        ELSE CASE WHEN u.nps_score BETWEEN 7 AND 8 THEN "passives" 
        ELSE "promoters" END END as nps_group
         

FROM user as u
LEFT OUTER JOIN location as l ON u.location_id=l.location_id
LEFT OUTER JOIN lifetime_segment as ls ON u.lt_gr_id=ls.lt_gr_id
LEFT OUTER JOIN age_segment as ag ON u.age_gr_id=ag.age_gr_id
LEFT OUTER JOIN traffic_segment as ts ON u.tr_gr_id=ts.tr_gr_id

"""

In [5]:
df = pd.read_sql(query, engine)

In [6]:
df['gender_segment'] = df['gender_segment'].replace(1, 'Woman')
df['gender_segment'] = df['gender_segment'].replace(0, 'Man')
df.to_csv('df.csv', index=False)
df.head()

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,Old,45.0,Woman,ANDROID,SMARTPHONE,Россия,Уфа,45-54,1-5,36+,10,promoters
1,A001WF,2344,Old,53.0,Man,ANDROID,SMARTPHONE,Россия,Киров,45-54,1-5,36+,10,promoters
2,A003Q7,467,Old,57.0,Man,ANDROID,SMARTPHONE,Россия,Москва,55-64,20-25,13-24,10,promoters
3,A004TB,4190,Old,44.0,Woman,IOS,SMARTPHONE,Россия,РостовнаДону,35-44,0.1-1,36+,10,promoters
4,A004XT,1163,Old,24.0,Man,ANDROID,SMARTPHONE,Россия,Рязань,16-24,5-10,36+,10,promoters

### Укажите ссылку на дашборд на сайте Tableau Public:
https://public.tableau.com/views/2_16558009712170/DashdetailNPS?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link

### Укажите ссылку на pdf-файл с презентацией:

https://disk.yandex.ru/i/z0qWu2njiBt6dA